<style>
    p {
        text-align: center;
    }
</style>

<p>ADD PRODUCT</p>


<form action="/admin/update-product" method="post" enctype="multipart/form-data">

    {{#each updatedFood}}
    <input type="hidden" name="id" value="{{this.id}}">

    <label for="productname">Food Name</label>
    <input type="text" name="productname" value="{{this.productName}}" required="required"><br>

    <label for="productimg">Food Image</label>
    <input type="file" name="productimg" accept="image/*" required="required"><br>

    <button type="submit">Submit</button>
    {{/each}}
</form>