<style>
    h1 {
        text-align: center;
    }

    * {
        font-family: sans-serif;
        /* Change your font family */
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .content-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    tr th {
        text-align: center;
    }

    tbody tr:nth-child(2n) {
        font-weight: bold;
        color: #009879;
    }

    /* DELETE BUTTON */
    /* 13 */
    .btn-13 {
        background-color: #89d8d3;
        background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
        border: none;
        z-index: 1;
    }

    .btn-13:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #4dccc6;
        background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
        box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
        transition: all 0.3s ease;
    }

    .btn-13:hover {
        color: #fff;
    }

    .btn-13:hover:after {
        top: 0;
        height: 100%;
    }

    .btn-13:active {
        top: 2px;
    }

    button {
        margin: 20px;
    }

    .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
            7px 7px 20px 0px rgba(0, 0, 0, .1),
            4px 4px 5px 0px rgba(0, 0, 0, .1);
        outline: none;
    }
</style>

<h1>ADMIN - VIEW PRODUCTS</h1>

<div class="container">
    <table class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>PRODUCT NAME</th>
                <th>PRODUCT IMAGE</th>
                <th>CREATED AT</th>
                <th>CREATED AT</th>
            </tr>
        </thead>
        <tbody>
            {{#each foods}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.productName}}</td>
                <td>{{this.imageUrl}}</td>
                <td>{{this.createdAt}}</td>
                <td><button class="custom-btn btn-13">DELETE</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>