<style>
    div {
        text-align: center;
    }
</style>
<div>
    <p>A verification code has been sent to your email id.</p>
    <form action="" method="post">
        <input type="number" name="otp">
        <button type="submit">Submit</button>
    </form>
</div>