<h1>ADMIN PANEL</h1>

<a href="/admin/add-product"><button>Add Product</button></a>
<a href="/admin/view-products"><button>View Products</button></a>
<a href="/admin/logout"><button>Logout</button></a>